<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZJYC3oRub_yjGsSeHzxFB89gZ5vIybjg</string>
	<key>GCM_SENDER_ID</key>
	<string>205534603718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vibracom.climarec.app</string>
	<key>PROJECT_ID</key>
	<string>testnotis-7985d</string>
	<key>STORAGE_BUCKET</key>
	<string>testnotis-7985d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205534603718:ios:64d56075ed9700539aeac7</string>
</dict>
</plist>